env

SECRET_KEY=your-secret-key
DEBUG=True
DATABASE_NAME=clothing_website
DATABASE_USER=postgres
DATABASE_PASSWORD=your-password
DATABASE_HOST=localhost
DATABASE_PORT=5432
STRIPE_SECRET_KEY=your-stripe-key